body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e4e9ff;
}

.App {
  width: 30rem;
  /* height: 500px; */
  /* max-width: 500px; */
  /* margin: auto; */
  margin-bottom: -10px;
  padding: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 50px;
  border-radius: 0 0 50px 50px;
  height: 350px;
  background-color: white;
  box-shadow : 1px 2px 5px rgba(0,0,0,0.2);
  overflow-y: auto;
}

header {
  width: 100%;
  padding: 5px 0.25em;
  background-color: #b07eec;
  color: white;
  border-radius: 50px 50px 0 0;
  box-shadow : 1px 2px 5px rgba(0,0,0,0.3);
  padding-top: 15px;
}

header h1 {
  font-weight: 800;
}

.addForm {
  width: 21rem;
  display: flex;
  justify-content: center;
  margin: 0.15rem auto;
  padding: 0.4rem 0rem;
  /* border-bottom: 1px solid #eee; */
}

.addForm label {
  position: absolute;
  left: -99999px;
}

.addForm input[type='text'] {
  flex-grow: 1;
  /* max-width: calc(100% - 50px); */
  min-height: 48px;
  font-size : 0.9rem;
  font-family: Poppins;
  font-weight: 400;
  padding: 0.25rem 15px 0.25rem;
  border-radius: 25px;
  margin-right: 0.25rem;
  outline: none;
  border: 2.5px solid #e4e9ff;
}

.addForm input[type='text']::placeholder {
  /* color: rgb(132, 132, 132); */
  font-weight: 400;
  font-size: 0.85rem;

}

.addForm input[type='text']:nth-child(2){
  margin-right: 10px;
}

.addForm button {
  height: 48px;
  min-width: 48px;
  border-radius: 25px;
  padding: 0.5rem;
  margin-right: 0.25rem;
  font-size: 1rem;
  background-color: white;
  color: #b07eec;
  cursor: pointer;
  border: 2.5px solid #e4e9ff;
  display: grid;
  place-items: center;
}

button:hover,
button:focus {
  color: white;
  background-color: #9c5fe6;
  outline: none;
}

footer{
  width: 150px;
  height: 50px;
  background-color: #b07eec;
  color: white;
  display: grid;
  place-content: center;
  border-radius: 25px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.15);
  position: relative;
  top: -19px;
  left: 160px;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before{
  /* content: "\2008"; */
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1.2rem;
  margin: 0.25rem 0;
  margin-bottom: 0.5rem;
  background-color: #edf1ff;
  border-radius: 10px;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  /* text-align: center; */
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 40px;
  /* margin-right: 0.5rem; */
  cursor: pointer;
  border-radius: 100px;
}

.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label {
  font-size: 0.90rem;
  flex-grow: 1;
}

.item svg{
  width : 22px;
  min-width : 22px;
  height: 36px;
  font-size: 1rem;
  color: #9c5fe6;
  cursor: pointer;
  /* outline: none; */
}

.item svg:focus,
.item svg:hover {
  color : red;
  outline: none;
}
